@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Roboto+Mono&display=swap');

:root {
  --white: #fff;
  --dark: #000;
  --grey: #edefebf8;
  --lightGrey: #dfe6d9f8;
  --darkGrey: #7a7878;
  --orange: rgb(247 170 18);
  --red: red;
}

.main {
  display: grid;
  background-color: var(--white);
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

h1 {
  text-align: center;
  font-weight: 900;
}

.quote {
  text-align: left;
  padding: 0.2rem;
  background: url('../assets/images/quote.jpg') no-repeat;
  color: var(--white);
  background-size: cover;
  background-position: 10%;
}

.quoteAuthor {
  font-weight: 600;
}

.calculator {
  width: fit-content;
  margin: auto;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

#root {
  width: fit-content;
  padding: 0.1rem;
  margin: auto;
}

.screen {
  width: 100%;
  height: 3.5rem;
  font-size: larger;
  padding: 0 0.3rem;
  direction: rtl;
  color: var(--white);
  background-color: var(--darkGrey);
  border: none;
}

.key-container {
  width: 5rem;
  height: 4rem;
  border-radius: 0.1rem;
  color: var(--dark);
  background-color: var(--grey);
  display: flex;
  justify-content: center;
}

.key-container button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.key-container:hover {
  opacity: 0.7;
}

.key-container button:hover {
  font-weight: 900;
}

.key-container:nth-child(4n),
:nth-child(19) {
  background-color: var(--orange);
}

.key-container:nth-child(-n+3) {
  background-color: var(--lightGrey);
}

.key-container:nth-child(17) {
  grid-column: 1 / span 2;
  width: 10.1rem;
}

.intKeys-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.09rem;
  width: fit-content;
}

.error-message,
.loading-message {
  color: var(--red);
  position: fixed;
  top: 35%;
  margin-left: 3%;
}
